
name: Open new issue
on: workflow_dispatch

jobs:
  open-issue:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
    steps:
      - run:|
        gh issue --repo ${{ github.repository }} \
            
      
          
    

      
    
